<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="animated fadeIn fast">QUIENES SOMOS</h1>
      <hr>
      <p class="animated fadeIn">→
        Cooperativa Internacional Fronteriza Asociada «CIFA» fue fundada en 1969 con el lema «Unión, Disciplina y Progreso» en la ciudad de Machala Provincia de El Oro. Somos una empresa líder en el transporte terrestre de pasajeros desde el Puerto Principal del Ecuador (Guayaquil) hasta la principal fronteriza de El Oro, llegando a Huaquillas, la Centinela sin Relevo.</p>
    </div>
  </div>

